* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, lightblue, lightpink);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1.header {
    font-size: 3em;
    padding: 1em;
}

p.header-description {
    width: 70%;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

#main {
    padding: 2em;
}

div.box {
    box-shadow: 1px 2px 3px 5px lightblue;
    height: 35em;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

div.top {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p.plan {
    font-size: 2em;
}

p.price {
    font-size: 3em;
    font-weight: bold;
    color: rgb(0, 89, 255);
}

p.heading {
    color: rgb(65, 65, 65);
    font-size: 1.2rem;
}

div.middle {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: rgb(65, 65, 65);
}

button.choose {
    background-color: rgb(0, 89, 255);
    color: white;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2em;
}

div.bottom {
    padding-top: 1.5em;
}